@import "addons.scss";
@import "galeria_vaadin.scss";

/* This file prefixes all rules with the theme name to avoid causing conflicts with other themes. */
/* The actual styles should be defined in galeria_vaadin.scss */
.galeria_vaadin {
  @include addons;
  @include galeria_vaadin;
}

.title {
	font-size: 50pt;
	margin-left: auto;
	margin-right: auto;
}
.button_panel {
	padding-top:    20px;
}

